<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <ul>
      <li>
        <h3>{{ tittle }}</h3>
      </li>
      <li>
        <section *ngIf="mapGrid">
          <table
            class="table-grid"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center"
          >
            <tbody>
              <tr class="tr-grid" *ngFor="let row of mapGrid" align="center">
                <!-- <pre><<<<<<<code>{{ row | json }}</code>>>>>>>></pre> -->
                <td *ngFor="let field of row">
                  <!-- <pre><<<<<<<<code>{{ field['state'] | json }}</code>>>>>>>>></pre> -->
                  <ng-template
                    [ngIf]="field['state'] == 'wall'"
                    [ngIfElse]="cell"
                  >
                    <div class="cell-grid wall">1</div>
                  </ng-template>
                  <ng-template #cell>
                    <segment [state_]="field['state']"></segment>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </li>
      <li>
        <div class="group-buttons">
          <button class="btn btn-success" (click)="getDataGrid()">Grid</button>
          <button class="btn btn-success" (click)="randomDataGrid()">
            Random
          </button>
          <button
            class="btn btn-success"
            type="button"
            (click)="fileInput.click()"
          >
            <span>Upload Grid</span>
            <input
              #fileInput
              type="file"
              (change)="onFileSelected($event)"
              style="display:none;"
            />
          </button>
          <button class="btn btn-success" (click)="ligthGrid()">ligth</button>
        </div>
      </li>
    </ul>
  </div>
  <pre> 
  <code>
     {{ mapGrid | json }}
  </code>
</pre>
</div>
