<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <ul>
      <li>
        <h3>{{ tittle }}</h3>
      </li>
      <li>
        <table class="table-grid" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr class="tr-grid">
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid hallway" data-feature="hallway">
                <svg-icon
                  src="/assets/icons/bulb.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'padding.px': 0,
                    'margin.px': 0
                  }"
                  [stretch]="true"
                ></svg-icon>
              </td>
            </tr>
            <tr>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">
                <svg-icon
                  src="/assets/icons/bulb.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'padding.px': 0,
                    'margin.px': 0
                  }"
                  [stretch]="true"
                ></svg-icon>
              </td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
            </tr>
            <tr>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
            </tr>
            <tr>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">
                <svg-icon
                  src="/assets/icons/bulb.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'padding.px': 0,
                    'margin.px': 0
                  }"
                  [stretch]="true"
                ></svg-icon>
              </td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">
                <svg-icon
                  src="/assets/icons/bulb.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'padding.px': 0,
                    'margin.px': 0
                  }"
                  [stretch]="true"
                ></svg-icon>
              </td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
            </tr>
            <tr>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">0</td>
              <td class="cell-grid wall" data-feature="wall">1</td>
              <td class="cell-grid hallway" data-feature="hallway">
                <svg-icon
                  src="/assets/icons/bulb.svg"
                  [svgStyle]="{
                    'width.px': 18,
                    'padding.px': 0,
                    'margin.px': 0
                  }"
                  [stretch]="true"
                ></svg-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <div class="group-buttons">
          <button class="btn btn-success" (click)="initGrid()">
            init Grid
          </button>
          <button class="btn btn-success" (click)="randomGrid()">
            random Grid
          </button>
          <button
            class="btn btn-success"
            type="button"
            (click)="fileInput.click()"
          >
            <span>personal grid</span>
            <input
              #fileInput
              type="file"
              (change)="onFileInput($event)"
              style="display:none;"
            />
          </button>
          <button class="btn btn-success" (click)="ligthGrid()">ligth</button>
        </div>
      </li>
      <li>
        <div class="details-grid">
          <ul class="details-items-grid">
            <li>
              <div>Dimension de la habitacion</div>
              <div>{{ dimension }}</div>
            </li>
            <li>
              <div>Bombillos utilizados</div>
              <div>{{ bulbs }}</div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
